<div class="row">
  <div class="col-lg-12">
    <h2>Log <%= @cliente.nombre %> <%= @cliente.apellido %></h2>
    cliente.changes
  </div>
</div>
<br/>

<div class="row">
  <div class="col-lg-12 text-right">
    <button class="btn btn-default">Cerrar</button>
  </div>
</div>

<%= link_to 'Back', clientes_path %>
