<div class="modal-header">
  <h3>Eliminar Producto</h3>
</div>
<div class="modal-body">
  <ul class="errors"></ul>
  Estás seguro que quieres eliminar <b><%= @producto.nombre %></b>?
</div>
<div class="modal-footer">
  <%= link_to "Sí, eliminarlo", productos_path(@producto), method: :delete, remote: true, class: "btn btn-danger" %>
  <%= link_to "Cancelar", "#", class: "btn", data: { dismiss: "modal" } %>
</div>